/* COMMON CSS */
*{
    padding: 0;
    margin: 0px 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
main{
    margin: 0 auto;
    width: 1080px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 15px 35px;
    margin: 5px;
}
.btn-primary a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;    
}
section{
    padding: 50px 0px;
    margin: 10px 0px;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 150px;
    font-size: 16px;
}



/* NAV AREA CSS */
header{
    background-color: #FFF8F3;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 150px;
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav ul li{
    margin-right: 20px;
    border-radius: 5px;
}
nav a{
    text-decoration: none;
    padding: 10px 20px;
}

/* BANNER AREA CSS */
.banner-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 30px 30px 0px 150px;
}
.banner-content{
    width: 50%;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin: 0px;
}
.banner-description{
    font-size: 18px;
    margin-top: 30px;
}

.banner-image img{
    width: 550px;
}

/* ABOUT SECTION CSS */
.about{
    background-color: #FFF8F3;
    margin: 50px 0px;
    padding: 110px 100px;
}
.about-item-container{
    display: flex;
    justify-content: space-between;
}
.about-item{
    padding: 20px;
}
.about-title{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.about-description{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px; 
}

/* SERVICE SECTION */
.service-container{
    display: flex;
    text-align: center;
}
.service-box{
    gap: 30px;
    margin: 40px 10px;
    padding: 50px 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 8px 10px  rgba(0, 0, 0, 0.06);
}
.service-box h2{
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}
.service-box p{
    padding: 0px 5;
}

/* REsume section css */
.rusume-container{
    display: flex;
}

#left-resume{
    margin-right: 30px;
}
.resume .resume-top-title{
    color: #474747;
    font-size: 30px;
}
.resume-item .resume-title{
    font-size: 25px;
    margin-top: 30px;
    color: #474747;
}
.resume-item .resume-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume p{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}
.resume hr{
    width: 500px;
    height: 1px;
}